<main id="homepage">
  <section id="hero">
    <h1>Weekend Warrior - カスタムクラブ</h1>
    <div id="menu-wrap">
      <input
        type="checkbox"
        class="toggler"
      >
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div class="one">
          <div class="two">
            <ul>
              <li><a href="/">Home</a>
              </li>
              <li><a href="#">About</a>
              </li>
              <li><a href="#">Shop</a>
              </li>
              <li><a href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>







<!-- <section id="products">
    <ul class="column">
      {{#each @model.products as |product|}}
        <li class="product">
          <div class="image">
            <img src={{product.image}}>
            {{#if product.sold}}
              <p>SOLD</p>
            {{else}}
              <p>${{product.price}}</p>
            {{/if}}
          </div>
          <div class="text">
            <h4>{{product.brand}}<small>{{product.model}}</small></h4>
            <dl>
              <dt>Condition:</dt>
              <dd>{{product.condition}}</dd>
              <dt>Shaft:</dt>
              <dd>{{product.shaft}}</dd>
              <dt>Length:</dt>
              <dd>{{product.length}}</dd>
              <dt>Club Range:</dt>
              <dd>{{product.clubrange}}</dd>
            </dl>
            <p>{{product.description}}
            </p>
            <p>
              <LinkTo
                @route="index"
                @query={{hash modal=product.slug}}
              >Read more</LinkTo>
            </p>
          </div>
        </li>
      {{/each}}
    </ul>
  </section> -->






<!-- {{#if this.modal}}
  <Modal @product={{this.product}} />
{{/if}} --> -->