<main
  id="homepage"
  class="page"
>
  <section id="nav">
    <nav>
      <div class="left">
        <LinkTo @route="index">Weekend Warrior</LinkTo>
      </div>
      <div class="right">
        <LinkTo @route="about">About</LinkTo>
        <LinkTo @route="products">Products</LinkTo>
        <LinkTo @route="contact">Contact</LinkTo>
      </div>
    </nav>
  </section>

  <section id="hero"></section>

  <section id="products">
    <ul class="column">
      {{#each @model.products as |product|}}
        <li class="product">
          <div class="image">
            <img src={{product.image}}>
            {{#if product.sold}}
              <p>SOLD</p>
            {{else}}
              <p>${{product.price}}</p>
            {{/if}}
          </div>
          <div class="text">
            <h4>{{product.brand}}<small>{{product.model}}</small></h4>
            <dl>
              <dt>Condition:</dt>
              <dd>{{product.condition}}</dd>
              <dt>Shaft:</dt>
              <dd>{{product.shaft}}</dd>
              <dt>Length:</dt>
              <dd>{{product.length}}</dd>
              <dt>Club Range:</dt>
              <dd>{{product.clubrange}}</dd>
            </dl>
            <p>{{product.description}}
            </p>
            <p>
              <LinkTo
                @route="product"
                @model={{@model.slug}}
              >Read more</LinkTo>
            </p>
          </div>
        </li>
      {{/each}}
    </ul>
  </section>


  <section id="contact">
    <div>
      <p>To order, click the clubs above.<br />For all other questions, just ask:</p>
      <p>
        <a href="mailto:sendit@weekendwarrior.golf"><strong>sendit@weekendwarrior.golf</strong></a>
      </p>
      <p>Or find us on: Instagram, Facebook and Ebay</p>
    </div>
  </section>


</main>